{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<title>{% block title %}DjangoX{% endblock title %}</title>
<meta name="description" content="A framework for launching new Django projects quickly.">
<meta name="author" content="">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

{% block css %}
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}
</head>

<body>
  <main>
    {% include 'navbar.html' %}
 </main>

<div class="container">
    {% block content %}
      <p>Default content...</p>
    {% endblock content %}
</div>

  <footer class="w-full text-white text-center fixed bottom-0">
    <div>
      <footer class="h-18 py-3 bg-blue-500">All rights reserved 2021 &copy;</footer>
    </div>
  </footer>
</body>
</html>
